{% extends '_base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('dist/js/mercMissionStart.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h3>Required</h3>
            <ul id="mission-requirements-required">
                {% for requirement in mercMission.requirements %}
                    <li data-requirement-id="{{ requirement.id }}">
                        <span class="requirement-count">{{ requirement.count }}</span> @ {{ requirement.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Needed</h3>
            <ul id="mission-requirements-unmet"></ul>
            <p id="mission-requirements-met" class="d-none">All requirements have been met.</p>
        </div>
        <div class="col-sm-4">
            <h3>Optional</h3>
            <ul id="mission-fieldskills">
                {% for fieldSkill in mercMission.fieldSkills %}
                    <li data-fieldskill-id="{{ fieldSkill.id }}">
                        <span class="fieldskill-count">0</span> @ {{ fieldSkill.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% form_theme form _self %}
    {{ form_start(form) }}
    <h2>Blades</h2>

    <div id="blade-next-task" class="alert alert-primary"></div>

    {{ form_row(form.blades) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <div id="blade-select-list" role="tablist">
        {% for key, list in lists %}
            <div class="card">
                <div class="card-header" role="tab" id="blade-select-list-heading-{{ key }}">
                    <h5 class="mb-0 d-flex align-items-center">
                        <a data-toggle="collapse"
                           href="#blade-select-list-{{ key }}"
                           aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                           aria-controls="blade-select-list-{{ key }}"
                           role="button">
                            {{ list.name }}
                        </a>
                        <span class="badge badge-secondary mx-2">{{ list.blades|length }}</span>
                        <small class="text-muted ml-auto">{{ list.help }}</small>
                    </h5>
                </div>
                <div id="blade-select-list-{{ key }}"
                     class="collapse{% if loop.first %} show{% endif %}"
                     aria-labelledby="blade-select-list-heading-{{ key }}"
                     data-parent="#blade-select-list">
                    <div class="card-body">
                        <ul class="list-inline xeno2--mercmission--blade-select-list">
                            {% for bladeInfo in list.blades %}
                                {%- set blade = bladeInfo.blade -%}
                                {# /** @var \App\Entity\Blade blade **/ #}
                                <li class="list-inline-item">
                                    <button type="button"
                                            class="btn btn-outline-dark blade-select xeno2--mercmission--blade-select-list--button xeno2--mercmission--blade-select-list--button--{{ blade.affinityPercent }}"
                                            data-blade-id="{{ blade.id }}"
                                            data-blade-requirements="{{ bladeInfo.requirements.ids|serialize|e('html_attr') }}"
                                            data-blade-fieldskills="{{ bladeInfo.fieldSkills.ids|serialize|e('html_attr') }}"
                                            data-blade-info="{{ bladeInfo.info|serialize|e('html_attr') }}">
                                        <span class="xeno2--mercmission--blade-select-list--blade-name">{{ blade.name }}</span>
                                        <span class="xeno2--mercmission--blade-select-list--affinity">
                                            ({{ blade.affinityPercent }}%)
                                        </span>
                                        {%- set metRequirements = [] -%}
                                        {%- for requirement in bladeInfo.requirements.requirements -%}
                                            {%- set metRequirements = metRequirements|merge([requirement.name]) -%}
                                        {%- endfor -%}
                                        {%- for fieldSkill in bladeInfo.fieldSkills.fieldSkills -%}
                                            {%- set metRequirements = metRequirements|merge([fieldSkill.name]) -%}
                                        {%- endfor -%}
                                        {%- if metRequirements is not empty -%}
                                            <br>
                                            {%- for metRequirement in metRequirements -%}
                                                <span class="xeno2--mercmission--blade-select-list--requirement-met">
                                                    {{ metRequirement }}
                                                </span>
                                                {%- if not loop.last -%}
                                                    <br>
                                                {%- endif -%}
                                            {%- endfor -%}
                                        {%- endif -%}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block merc_mission_blade_row %}
    {# IMPORTANT NOTE: There is no access to the blade entity here.  To insert entity from the blade entity, it must
       be added in the noted array in MercMissionController::buildBladeMetadata.  The special string "__blade_thing__"
       is replaced with the value, where "thing" is the key in the metadata array. #}
    <div class="col-sm-2 blade-card" data-blade-id="__blade_id__">
        {{ form_row(form.blade) }}
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <a href="#blade-info-__blade_id__" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="blade-info-__blade_id__">__blade_name__</a>
                </h5>
            </div>
            <div id="blade-info-__blade_id__" class="collapse">
                <div class="card-body">
                    <dl>
                        <dt>Gender</dt>
                        <dd>__blade_gender__</dd>
                        <dt>Element</dt>
                        <dd>__blade_element__</dd>
                        <dt>Strength</dt>
                        <dd>__blade_strength__</dd>
                        <dt>Weapon</dt>
                        <dd>__blade_weapon_class__</dd>
                        <dt>Field Skills</dt>
                        <dd>
                            <ul class="list-unstyled">
                                __blade_field_skills__
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card-footer">
                {{ form_row(form.leader) }}
                {{ form_row(form.remove) }}
            </div>
        </div>
    </div>
{% endblock %}
