{% extends "_base.html.twig" %}

{% block content %}
    {% include "security/_nav.html.twig" %}

    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{{ path('connect_google_connect') }}">
                <img src="{{ asset('build/static/oauth/btn_google_signin_light_normal_web.png') }}"
                     srcset="{{ asset('build/static/oauth/btn_google_signin_light_normal_web@2x.png') }} 2x"
                     alt="Sign in with Google">
            </a>
        </li>
    </ul>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.remember_me) }}
    {{ form_row(form.recaptcha) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
