{% extends '_base.html.twig' %}

{% block content %}
    {{ include('pages/user/_nav.html.twig') }}

    <div class="tab-pane" role="tabpanel">
        <dl>
            <dt>User since</dt>
            <dd>{{ user.created|date('F d, Y') }}</dd>
            <dt>E-Mail</dt>
            <dd>{{ user.email }}</dd>
            {% if user.roles|length > 1 %}
                <dt>Roles</dt>
                <dd>{{ user.roles|join(', ') }}</dd>
            {% endif %}
            <dt>Blades</dt>
            <dd>{{ blades|length }}</dd>
        </dl>
    </div>
{% endblock %}
