{% extends '_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bladeIndex') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bladeIndex') }}
{% endblock %}

{% block content %}
    {%- if currentDriver is null -%}
        {%- set driverSlug = 'all' -%}
    {%- else -%}
        {%- set driverSlug = currentDriver.slug -%}
    {%- endif -%}
    {% if drivers is empty %}
        <div class="alert alert-warning">
            You have no drivers active. <a href="{{ path('user_progress') }}">Activate some drivers here</a>.
        </div>
    {% else %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link{% if currentDriver is null %} active{% endif %}" href="{{ path('blade_index') }}">
                    All
                </a>
            </li>
            {% for driver in drivers %}
                <li class="nav-item">
                    <a class="nav-link{% if driver == currentDriver %} active{% endif %}" href="{{ path('blade_index', {'driverSlug': driver.slug}) }}">
                        {{ driver.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="xeno2--actions list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('blade_new', {'driverSlug': driverSlug}) }}">
                <i class="fas fa-plus"></i>
                Bond Blade
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-primary" href="{{ path('blade_find') }}">
                <i class="fas fa-search"></i>
                Find Blades
            </a>
        </li>
    </ul>

    {%- include 'pages/blade/_blade_list.html.twig' with {'blades': blades, 'drivers': drivers} -%}
{% endblock %}
