{% extends '_base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('dist/js/mercMissionIndex.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="list-group mb-3">
        {% for missionInfo in activeMissions %}
            {%- set mercMission = missionInfo.mission -%}
            {# /** @var \App\Entity\MercMission mercMission **/ #}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-auto align-self-center">
                        <a class="btn btn-outline-success" href="{{ path('mercmission_stop', {'nation': mercMission.nation.slug, 'mercMission': mercMission.slug}) }}">
                            <span class="sr-only">Stop</span>
                            <i class="fas fa-stop"></i>
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex">
                            <h5 class="mb-1">{{ mercMission.name }}</h5>
                            <div class="align-self-baseline ml-2">
                                <small class="text-muted">
                                    {{ missionInfo.teamName }}
                                </small>
                            </div>
                        </div>
                        <p class="mb-1">
                            {% for blade in missionInfo.blades %}
                                {# /** @var \App\Entity\Blade blade **/ #}
                                {{ blade.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if nations is empty %}
        <div class="alert alert-warning">
            You have no nations active. <a href="{{ path('user_progress') }}">Activate some nations here</a>.
        </div>
    {% else %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link{% if currentNation is null %} active{% endif %}" href="{{ path('mercmission_index', {'nationSlug': 'all'}) }}">
                    All
                </a>
            </li>
            {% for nation in nations %}
                <li class="nav-item">
                    <a class="nav-link{% if currentNation == nation %} active{% endif %}" href="{{ path('mercmission_index', {'nationSlug': nation.slug}) }}">
                        {{ nation.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <ul class="xeno2--actions list-inline mt-3">
            <li class="list-inline-item">
                {%- if currentNation is not null -%}
                    {%- set nationSlug = currentNation.slug -%}
                {%- else -%}
                    {%- set nationSlug = 'all' -%}
                {%- endif -%}
                <a id="mercmission-new" class="btn btn-primary" href="{{ path('mercmission_new', {'nationSlug': nationSlug}) }}">
                    New Merc Mission
                </a>
            </li>
        </ul>
    {% endif %}

    {% include 'pages/merc_mission/_mission_list.html.twig' with {'mercMissions': mercMissions, 'activeMissions': activeMissions} %}
{% endblock %}
