{% import '_utils.html.twig' as utils %}
{% if blades is not empty %}
    {{ utils.tablesorterHelp(true) }}
    <table id="blade-list" class="xeno2--blade--list table tablesorter" data-sortlist="{{ [[0,0]]|json_encode|e('html_attr') }}">
        <thead>
        <tr>
            <th class="xeno2--blade--list--name">Name</th>
            <th class="xeno2--blade--list--element filter-select">Element</th>
            <th class="xeno2--blade--list--role filter-select">Role</th>
            <th class="xeno2--blade--list--weapon filter-select">Weapon</th>
            <th class="xeno2--blade--list--strength">Strength</th>
            <th class="xeno2--blade--list--affinity" data-sorter="percent">Affinity</th>
            <th class="xeno2--blade--list--trust filter-select">Trust</th>
            <th class="xeno2--blade--list--rarity">Rarity</th>
            <th class="xeno2--blade--list--action filter-false">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for blade in blades %}
            {%- set bladeClasses = [] %}
            {%- if blade.driver not in drivers %}
                {%- set bladeClasses = bladeClasses|merge(['disabled']) %}
            {%- endif %}
            {%- if blade.mercMission %}
                {%- set bladeClasses = bladeClasses|merge(['table-active']) %}
            {%- endif %}
            <tr class="{{ bladeClasses|join(' ') }}">
                <td class="xeno2--blade--list--name">{{ blade.name }}</td>
                <td class="xeno2--blade--list--element">
                    <i class="fas fa-circle xeno2--element--{{ blade.element.slug }}"></i>&nbsp;<span>{{ blade.element.name }}</span>
                </td>
                <td class="xeno2--blade--list--role">{{ blade.battleRole.name }}</td>
                <td class="xeno2--blade--list--weapon">{{ blade.weaponClass.name }}</td>
                <td class="xeno2--blade--list--strength">{{ blade.strength }}</td>
                <td class="xeno2--blade--list--affinity" data-text="{{ blade.affinityPercent }}">
                    {{ blade.affinity }}
                    / {{ blade.affinityTotal }}
                    ({{ blade.affinityPercent }}%)
                </td>
                <td class="xeno2--blade--list--trust" data-text="{{ blade.trust.sort }}">{{ blade.trust.name }}</td>
                <td class="xeno2--blade--list--rarity" data-text="{{ blade.rarity }}">
                    {% spaceless %}
                        <span class="sr-only">{{ blade.rarity }}</span>
                        <span role="presentation" aria-hidden="true">
                                {% for i in 1..(blade.rarity) %}
                                    <i class="fas fa-star xeno2--icon"></i>
                                {% endfor %}
                            </span>
                    {% endspaceless %}
                </td>
                <td class="xeno2--blade--list--action">
                    {% if blade.mercMission %}
                        <a class="btn btn-outline-success mercmission-stop" title="{{ blade.mercMission.name }}" href="{{ path('mercmission_stop', {'nation': blade.mercMission.nation.slug, 'mercMission': blade.mercMission.slug}) }}">
                            <span class="sr-only">Stop</span>
                            <i class="fas fa-stop"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-outline-primary mercmission-start" href="{{ path('blade_missions', {'blade': blade.id, 'driverSlug': blade.driver.slug}) }}">
                            <span class="sr-only">Start</span>
                            <i class="fas fa-play"></i>
                        </a>
                        <a class="btn btn-outline-info" href="{{ path('blade_edit', {'blade': blade.id}) }}">
                            <span class="sr-only">Edit</span>
                            <i class="fas fa-edit"></i>
                        </a>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-blade" data-blade-name="{{ blade.name }}" data-blade-delete-path="{{ path('blade_delete', {'blade': blade.id}) }}">
                            <span class="sr-only">Delete</span>
                            <i class="fas fa-minus-circle"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="delete-blade" tabindex="-1" role="dialog" aria-labelledby="delete-blade-label" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-mission-label">Release Blade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true"><i class="far fa-window-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to release <span class="delete-name"></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger delete-link" href="#">Release</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>
        No blades found.
    </p>
{% endif %}
